:root{
    --cor_principal: #8525bd;
    --cor_principal_escura: #1f0c29;
    --preto: #000000;
    --branco: #ffffff;
    --background: #1d2021;
    --main: #151616;
}

*{
    text-decoration: none;
    list-style: none;
    font-family: Inter, sans-serif;
    color: var(--branco);
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body{
    background-color: var(--background);
}

.projeto {
    font-size: clamp(2rem, 3vw, 2.25rem);
}

header{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg,var(--preto), var(--cor_principal_escura), var(--cor_principal));
    align-items: center;
    padding: 0px 0px 0px 20px;
    height: clamp(5em, 6vw, 8em);
}
.barra-nav{
    display: flex;
}
ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
    padding: 30px;
}

li {
    padding: 0.5vw;
    font-size: clamp(1.5rem, 1.3vw, 1.9rem);
}


li:hover{
    border-radius: 100px;
    border: 1px solid var(--cor_principal);
    background-color: var(--cor_principal);
}

#colab{
    display: flex;
    margin-block-start: -1.5em;
    margin-inline-start: 2.25em;                                                                 /* Margin da dupla     */
    gap: 0.5em;
    
}
.dupla{
    display: flex;
    text-align: center;
    align-items: center;
}
.imagem{
    width: clamp(200px, 10vw, 6vw);
    border: 3px solid var(--cor_principal);
    border-radius: 100px;
}

.nomes {
    font-size: clamp(1.5rem, 1.3vw, 1.9rem);
}

.github{
    height: auto; 
    width: 2em;
}

.linkedin{
    height: auto; 
    width: 5em;
}
footer{
    position: absolute;
    bottom: 0%;
    height: 7em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor_principal_escura);
}
.contatos{
    font-size: clamp(1.1rem, 1.1vw, 1.9rem);
    margin: 3%;
}
.img_contatos{
    margin-inline-start: 1em;
}

footer {
    height: clamp(5em, 4vw, 8em);
}

main {
    /* background: #8525bd; */
    display: grid;
    width: 100%;
    max-width: 75vw;
    grid-template-columns: auto auto;
    margin-inline-start: 7vw;
    /* text-align: center; */
    align-items: center;
    grid-gap: 4.5em;
    background-color: var(--main);
    padding: 5em;
}

main > p:nth-child(1) {
    font-size: 1.5em;
    margin-inline-start: 1em;
}

main > p:nth-child(2) {
    max-width: 90%;
}